<form method="post" action="/badge">
  label(for="gh_url") Github Action Workflow file URL:&nbsp;
  <input type="text" name="gh_url" size="100" value='#{url}' />
  <button type="submit">Submit</button>
</form>
