extends layout

block content
  h1= title
  p Welcome to #{title}

  p
    ul
      li
        a(href="https://docs.github.com/en/actions/managing-workflow-runs/adding-a-workflow-status-badge") Github documentation

  p You reference the workflow by the name of your workflow file.
    ul
      li
        = 'https://github.com/<OWNER>/<REPOSITORY>/actions/workflows/<WORKFLOW_FILE>/badge.svg'


  p Paste your github action yaml file and you get badge link for README.md file
    ul
      li
        = 'https://github.com/abtris/sinopia-htaccess-gpg-email/actions/workflows/node.js.yml'


  <form method="post" action="/badge">
    <input type="text" name="gh_url" size="100" value='https://github.com/abtris/sinopia-htaccess-gpg-email/actions/workflows/node.js.yml' />
    <button type="submit">Submit</button>
  </form>
