extends layout

block content
  h1= title

  <div class="row">

  <h4>Generator</h4>
  include form.pug

  </div>

  <div class="row">
    <h4>Paste this into your markdown readme</h4>
      <pre><code>#{snippet}</code></pre>
  </div>

  block scripts
    script(src="https://cdn.jsdelivr.net/npm/marked/marked.min.js")
  h4 Preview
    <div id="content"></div>
  script.
      document.getElementById('content').innerHTML = marked('#{snippet}');


  h4 Documentation
  div
    ul
      li
        a(href="https://docs.github.com/en/actions/managing-workflow-runs/adding-a-workflow-status-badge") Github - Adding a workflow status badge


