body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

form {
  width: 50%
}

label {
  width: 20%;
  float: left;
  margin-top: 8px;
}

input {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-top: 8px;
}

button {
  margin: 8px 20%;
}

a {
  color: #00B7FF;
}

code {
  background-color: #eee;
  margin: 1em 1em;
  padding: 1em auto;
  display: block;
  overflow: auto;
}

footer {
  margin-top: 5em;
}
